<div class="container">
  <div class="row">
    <div class="col-md-6 mb-0">
      <nav class="p-2 border border-secondary rounded">
        <button class="btn btn-primary d-flex align-items-center" (click)="handleNewProject()">
          <span>New Project</span>
          <i class="bi bi-plus ml-auto"></i>
        </button>
      </nav>
    </div>

    <div class="col-md-6"> <!-- Pour prendre la seconde moitié de la page -->
      <div class="input-group mt-2">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" [(ngModel)]="searchText" (input)="filterProjects()">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
          <i class="bi bi-search"></i> <!-- Placeholder pour l'icône de recherche -->
        </button>
      </div>
    </div>
  </div>

  <ng-template #errors>
    <div class="text-danger">{{ errorMessage }}</div>
  </ng-template>

  <div class="card mt-3" *ngIf="displayedProjects.length>0; else errors">
    <div class="card-header">List Project</div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Project Name</th>
          <th>contenu</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of displayedProjects">
          <td>{{ p.id }}</td>
          <td>{{ p.name }}</td>
          <td>{{p.contenu}}</td>
          <td>
            <button (click)="handleDeleteProject(p)" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</button>
            <button (click)="editProject(p)" class="btn btn-primary"><i class="bi bi-pencil"></i> Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Formulaire pour Ajouter et Mettre à jour une tâche -->
  <div class="card mt-3" *ngIf="showForm" >
    <div class="card-header">{{ editingProject ? 'Update Project' : 'New Project' }}</div>
    <div class="card-body">
      <form [formGroup]="projectFormGroup" (ngSubmit)="handleProjectAction()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" formControlName="name" class="form-control">
          <small *ngIf="projectFormGroup.controls['name'].errors && projectFormGroup.controls['name'].touched" class="text-danger">
            {{ getErrorMessage('name', projectFormGroup.controls['name'].errors) }}
          </small>
        </div>
        <div class="mb-3">
          <label class="form-label">contenu</label>
          <input type="text" formControlName="contenu" class="form-control">
          <small *ngIf="projectFormGroup.controls['contenu'].errors && projectFormGroup.controls['contenu'].touched" class="text-danger">
            {{ getErrorMessage('contenu', projectFormGroup.controls['contenu'].errors) }}
          </small>
        </div>

        <button [disabled]="projectFormGroup.invalid" class="btn btn-info" type="submit">{{ editingProject ? 'Update' : 'Save' }}</button>
        <button *ngIf="editingProject" class="btn btn-secondary" type="button" (click)="cancelEdit()">Cancel</button>
        <button *ngIf="!editingProject" class="btn btn-secondary" type="button" (click)="cancelEdit()">Cancel</button>
      </form>
    </div>
  </div>
  <mat-paginator
    [length]="projects.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="handlePageChange($event)"
  ></mat-paginator>
</div>
